.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
   

}


.customer-review{
    font-size: 24px;
    font-weight: 700;
    color: rgb(223, 17, 106); 
}